<template>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                            <router-link :to="{name:'home'}" class="nav-link margenes" @click="getMensaje">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Recicladores
                            </router-link>
                              <router-link :to="{name:'contribuyentes'}"  class="nav-link margenes" href="index.html" @click="getMensaje" >
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Contribuyentes
                            </router-link>
                            <div class="sb-sidenav-menu-heading">Contribuciones</div>
                          
                            <router-link :to="{name:'residuos_pendientes'}" class="nav-link margenes">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Pendientes
                            </router-link>
                              <router-link :to="{name:'residuos_asignados'}" class="nav-link margenes">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Asignadas
                            </router-link>
                             <router-link :to="{name:'residuos_recogidos'}" class="nav-link margenes">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Entregadas
                            </router-link>
                       
                        <div class="sb-sidenav-menu-heading">Configuracion</div>
                        <!-- <router-link :to="{name:'usuarios'}" class="nav-link margenes" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Usuarios
                        </router-link> -->
                
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Usuario:</div>
                      Angel Saucedo
                </div>
            </nav>
        </div>
         <div id="layoutSidenav_content">
           
        </div> 
    </div>
 
</template>
<style scoped >
 .router-link-exact-active{
       background-color: #2288CB;
    }
   .margenes{
       margin-left: 9px;
       margin-right: 9px;
   }
</style>

<script>

export default {
   data(){
       return{

       }
   },

   methods:{
       getMensaje(){

       }
   }
}
</script>
