<template>
   <div>
        <div>
            <header-page/>
        </div>

         <div id="layoutSidenav">
            <div  class="sb-nav-fixed">
               <left-menu-page/> 
            </div>

            <div id="layoutSidenav_content" class="form-group py-4">   
                      <router-view></router-view>
                 
            </div>
            <div class="py-4 bg-light mt-auto">
                 <!-- <FooterPage/> -->
            </div>
        </div> 
   </div>


</template>

<script>
import LeftMenuPage from '@/views/LeftMenuPage.vue'
// class="py-4 bg-light mt-auto"import FooterPage from '@/views/FooterPage.vue'
import HeaderPage from '@/views/HeaderPage.vue'
export default {
    name:'PrincipalPage',
    components: {
        HeaderPage,
        LeftMenuPage,
        // FooterPage

        
    }
}
</script>