<template>
    <div>
       <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" v-model="login.email" />
                                                <label for="inputEmail">DNI</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputPassword" type="password" placeholder="Password" v-model="login.password" />
                                                <label for="inputPassword">Contraseña</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                                <label class="form-check-label" for="inputRememberPassword">Recordar Contraseña</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small">¿Olvidaste tu contraseña?</a>
                                                <a class="btn btn-warning" @click="Ingresar()">Ingresar</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <!-- <div class="small"> <router-link :to="{name:'register'}" >Crear cuenta</router-link></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
             <footer-page></footer-page>
            </div>
    </div>
    </div>
</template>
<style scoped>

</style>
<script>
import FooterPage from '@/views/FooterPage.vue'
import swal from 'sweetalert';
export default {
    components:{
        FooterPage
    },
    data(){
     return {
        login:{
            email:'',
            password:''
        },
        Toast:''
     }
    },
    mounted(){
    },
    methods:{
       async Ingresar(){
        //  let  res=await usuariosService.login({email:this.login.email, password:this.login.password})
        //         if(res.data.status!=0){
        if(this.login.email=='73697029' && this.login.password=='123456'){
                  return  this.$router.push({name:'home'})   

        }else{
            swal("Usuario o contraseña incorrectos");

        }
                // }else{
                //        this.$swal.fire({
                //         position: 'top-end',
                //         title: res.data.msg,
                //         showConfirmButton: false,
                //         timer: 1500
                // })
                // }
            }
          
          
    }
}
</script>