<template>
    <div>   
            <div>
                <main>
                    <div class="container-fluid px-4">
                        <!-- <h1 class="mt-4">Tables</h1> -->
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                               <p>A continuacion se muestra la lista de Contribuyentes afiliados a la asociacion de reciclaje <b>Unidos por un ambiente limpio y ordenado</b></p>
                            </div>
                        </div>
                         <div class="col" id="add-btn">
                            <button class="btn btn-success" title="Nuevo" data-bs-toggle="modal" data-bs-target="#ModalContribuyente" @click="agregarContribuyente()">
                                <i class="fas fa-plus-circle fa-2x"></i>
                            </button>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Lista de Contribuyentes
                            </div>
                        <div class="card-body">
                          <div class="tabla">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Acciones</th>
                                        <th scope="col">DNI</th>
                                        <th scope="col">Nombres</th>
                                         <th scope="col">Apellidos</th>
                                        <th scope="col">Telefono</th>
                                         <th scope="col">Email</th>
                                        <th scope="col">Fecha de registro</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(con,index) of contribuyentes" :key="index">
                                            <th scope="row">{{index+1}}</th>
                                             <td>
                                            <div id="acciones" class="btn-group" role="group">
                                                <button class="btn btn-secondary" title="Editar" @click="editContribuyente(con)">
                                                   <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button class="btn btn-danger" title="Eliminar" @click="deleteReciclador(con)" >
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                            </td>
                                            <td>{{con.dni}}</td>
                                            <td>{{con.name}}</td>
                                            <td>{{con.lastname}}</td>
                                            <td>{{con.phone }}</td>
                                            <td>{{con.email}}</td>
                                            <td>{{con.created_at}}</td>
                                           
                                        </tr>               
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                        </div>
                     </div>
                        </div>
                    </div>
                </main>
            </div>
 <!-- Modal contrinuyente -->
            <div class="modal fade" id="ModalContribuyente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Contribuyente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombres" v-model="contribuyente.name">
                            </div>
                        </div>
                        <div class="row" style="margin-top:26px">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Apellidos" v-model="contribuyente.lastname">
                            </div>
                        </div>
                        <div class="row" style="margin-top:26px">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Telefono"  maxlength="9" v-model="contribuyente.phone">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="DNI" maxlength="7" v-model="contribuyente.dni">
                            </div>
                        </div>
                         <div class="row" style="margin-top:26px">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Email" v-model="contribuyente.email">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button v-if="accion=='update'" type="button" class="btn  btn-success" @click="addContribuyente()">Guardar</button>
                    <button v-else type="button" class="btn  btn-success" @click="updateContribuyente()">Editar</button>
                    
                </div>
                </div>
            </div>
            </div>

        </div>
</template>
<style scoped>
#add-btn{
    margin-bottom: 14px;  
}
#acciones{
    margin-top: -4px;
}
</style>
<script>
import { Modal } from 'bootstrap';
import swal from 'sweetalert';
import contribuyenteService from "../../service/contribuyenteService";
export default {
    data(){
        return{
            contribuyentes:[],
            modal: '',
            accion:'update',
            contribuyente:{
                dni: '',
                email: '',
                name: '',
                lastname: '',
                phone: '',
                created_at: ''
            }
        }
    },

    mounted(){
        this.getContribuyente();
         this.modal = new Modal(document.getElementById('ModalContribuyente'))   
    },
    
    methods:{
      openModal() {
          this.modal.show()
      },

      closeModal() {
        this.modal.hide()
      },

      limpiarDatos(){
            this.contribuyente.dni=''
            this.contribuyente.email=''
            this.contribuyente.name=''
            this.contribuyente.phone=''
            this.contribuyente.lastname=''
            this.contribuyente.lastname=''
      },

     async getContribuyente(){
            contribuyenteService.get().then(contribuyentes => 
                this.contribuyentes=contribuyentes.data
            );
                
    },
    agregarContribuyente(){
        this.limpiarDatos();
      this.accion='update';
    },
  async  addContribuyente(){
         let resp= await contribuyenteService.create(this.contribuyente);
              if(resp.data.success){
               this.getContribuyente();
                this.closeModal()
                 swal('Nuevo Contribuyente Registrado');
              }else{
                 swal('Error al registrar contribuyente, Correo o DNI ya exixsten');
              }

         
    },
    editContribuyente(contribuyente){
        this.accion='update3'
          this.openModal();
          this.contribuyente = contribuyente
    },
    async updateContribuyente(){
       let resp =await   contribuyenteService.update({contribuyente:this.contribuyente});
              if(resp.data.success){
               this.getContribuyente();
                this.closeModal()
                 swal('Contribiyente actualizado correctamente');
              }else{
                 swal('Error al actualizar contribuyente');
              }
    },
     deleteReciclador(contribuyente){
           swal({
                title: "Eliminar contribuyente",
                text: "Esta seguro de eliminar un contribuyente!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
              })
              .then((willDelete) => {
                if (willDelete) {
                     contribuyenteService.delete({id:contribuyente._id}).then(data =>{
                       console.log(data);
                        this.getContribuyente();
                      });
                }
            });
           
        }

        
    }
}
</script>