<template>
    <div>   
            <div>
                <main>
                    <div class="container-fluid px-4">
                        <!-- <h1 class="mt-4">Tables</h1> -->
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                A continuacion se muestra la lista de trabajadores pertencientes a la asociacion de reciclaje Unidos
                                por un ambiente limpio y ordenado
                                <!-- <a target="_blank" href="https://datatables.net/">official DataTables documentation</a> -->
                            </div>
                        </div>
                        <div class="col" id="add-btn">
                            <button class="btn btn-success" title="Nuevo" data-bs-toggle="modal" data-bs-target="#ModalReciclador" @click=agregarReciclador()>
                                <i class="fas fa-plus-circle fa-2x"></i>
                            </button>
                        </div>
                            <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Lista de recicladores
                            </div>
                        <div class="card-body">
                          <div class="tabla">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                         <th scope="col">#</th>
                                        <th scope="col">Acciones</th>
                                        <th scope="col">DNI</th>
                                        <th scope="col">Nombres</th>
                                         <th scope="col">Apellidos</th>
                                        <th scope="col">Telefono</th>
                                         <th scope="col">Email</th>
                                        <th scope="col">Fecha de registro</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(reci, index) of recicladores" :key="index">
                                            <th scope="row">{{index+1}}</th>
                                            <td>
                                            <div id="acciones" class="btn-group" role="group">
                                                <button class="btn btn-secondary" title="Editar" @click="editReciclador(reci)">
                                                   <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button class="btn btn-danger" title="Eliminar" @click="deleteReciclador(reci)" >
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                            </td>
                                            <td>{{reci.dni}}</td>
                                            <td>{{reci.name}}</td>
                                            <td>{{reci.lastname}}</td>
                                            <td>{{reci.phone }}</td>
                                            <td>{{reci.email}}</td>
                                            <td>{{reci.created_at}}</td>
                                        </tr>              
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                        </div>
                     </div>
                        </div>
                    </div>
                </main>   
            </div>
          <!-- Modal -->
            <div class="modal fade" id="ModalReciclador" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Reciclador</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
               <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombres" v-model="reciclador.name">
                            </div>
                        </div>
                        <div class="row" style="margin-top:26px">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Apellidos" v-model="reciclador.lastname">
                            </div>
                        </div>
                        <div class="row" style="margin-top:26px">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Telefono"  maxlength="9" v-model="reciclador.phone">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="DNI" maxlength="7"  v-model="reciclador.dni">
                            </div>
                        </div>
                         <div class="row" style="margin-top:26px">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Email" v-model="reciclador.email">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button v-if="accion=='update'" type="button" class="btn  btn-success" @click="addReciclador()">Guardar</button>
                    <button v-else type="button" class="btn  btn-success" @click="updateReciclador()">Editar</button>
                    
                </div>
                </div>
            </div>
          </div>    
        </div>

</template>
<style scoped>
#add-btn{
    margin-bottom: 14px;  
}
#acciones{
    margin-top: -14px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #33ff49;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 20px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="checkbox"] + label {
  font-weight: bold;
  line-height: 3em;
  color: #1b1a1a;
}
input[type="checkbox"]:checked + label {
  color: #030303;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus,
.btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.red--text {
  color: red;
}

.blue--text {
  color: darkblue;
  /* font-weight: bold; */
}
</style>

<script>
import recicladorService from "../../service/recicladorService.js";
import { Modal } from 'bootstrap'
import swal from 'sweetalert';
export default {
    name:'Reciclador',
    data(){
        return{
            recicladores:[],
            modal: '',
            accion:'update',
            reciclador:{
              dni: '',
              email: '',
              name: '',
              lastname: '',
              phone: '',
              created_at: ''
            }
        }
    },
    mounted(){
        this.getReciclador();
        this.modal = new Modal(document.getElementById('ModalReciclador'))   
    },

    methods:{
      openModal() {
          this.modal.show()
      },

      closeModal() {
        this.modal.hide()
      },

       agregarReciclador(){
          this.accion='update';
        },
      async getReciclador(){
            let result=  await recicladorService.get()  
            this.recicladores=result.data
        
        },
      async addReciclador(){
         let resp =await recicladorService.create(this.reciclador);
              if(resp.data.success){
                this.getReciclador();
                this.closeModal()
                 swal('Nuevo reciclador Registrado');
              }else{
                 swal('Error al registrar reciclador, Correo o DNI ya exixsten');
              }              
        },
        editReciclador(reciclador){
           this.accion='update3'
          this.openModal();
          this.reciclador = reciclador
        },
      async  updateReciclador(){
         let resp =await recicladorService.update({reciclador:this.reciclador});
             if(resp.data.success){
               this.getReciclador();
                this.closeModal()
                 swal('Reciclador actualizado correctamente');
              }else{
                 swal('Error al actualizar reciclador');
              }
        },
         deleteReciclador(reciclador){
           swal({
                title: "Eliminar reciclador",
                text: "Eliminar recilador, Esta seguro de eliminar un reciclador!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
              })
              .then((willDelete) => {
                if (willDelete) {
                     recicladorService.delete({id:reciclador._id}).then(data =>{
                       console.log(data);
                          this.getReciclador();
                      });
                }
            });
           
        }
    }
}
</script>