<template>
    <div>   
            <div>
                <main>
                    <div class="container-fluid px-4">
                        <!-- <h1 class="mt-4">Tables</h1> -->
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                Lista de contribuciones que aun no se le asigna un reciclador.
                                <!-- <a target="_blank" href="https://datatables.net/">official DataTables documentation</a> -->
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Residuos
                            </div>
                        <div class="card-body">
                          <div class="tabla">
                                  <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Peso Aprox.</th>
                                         <th scope="col">Contribiyente</th>
                                        <th scope="col">Direccion</th>
                                         <th scope="col">Reciclador</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(reci, index) of contribuciones" :key="index">
                                            <th scope="row">{{index+1}}</th>
                                            <td>{{reci.tipo}}</td>
                                            <td>{{reci.descripcion}}</td>
                                            <td>{{reci.quantity}} Kg</td>
                                            <td>{{reci.client.name}}-{{reci.client.lastname}}</td>
                                            <td>{{reci.address.address}}</td>
                                             <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalReciclador" @click="seleccionarEntrega(reci)">Asignar</button></td>
                                        </tr>
                                                  
                                    </tbody>
                                </table>
                                  <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                        </div>
                     </div>
                        </div>
                    </div>
                </main>    
            </div>          
        <!-- Modal documento -->
            <div class="modal fade" id="modalReciclador" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title">Seleccionar reciclador</h5>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
                    <span class="font-weight-semibold">Seleccione reciclador,</span> 
                        por favor elija un reciclador disponible.
                    </div>
                    <div>
                    <div class="form-outline">
                    <input type="search"  class="form-control" v-model="filtro_reciclador" placeholder="Buscar reciclador..."
                    aria-label="Search" />
                    </div> 
                    <br> 
                    <div class="col-md-12 mb-4"> 
                    <div class="card example-1 square scrollbar-cyan bordered-cyan mb-3 text-center">
                        <div class="card-body">
                        <ul class="form-control">
                            <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center cursor-pointer"
                                v-for="(cli, i) in clientesFiltrados" :key="i"
                                @click="seleccionarReciclador(cli)">
                                {{cli.name}} - {{cli.lastname}}
                                <span><i class="bi bi-chevron-double-right"></i></span>
                                </span>
                            </ul>
                        </div>
                    </div>
                    </div> 
                    <!--Fin clientes mayor a 3  -->
                    </div>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                    
                </div>
                </div>
            </div>
            
            </div>
        </div>



</template>
<style scoped>
 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
  @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

  #id{
      text-align: center;
  }

  .contenedorlogin {
    position: absolute !important; 
    left:0;
    top:0;
  }

  .login-fondo{
    background: url(https://i.ibb.co/5B4dZwk/portada-proveedores-01.jpg) no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  .btn-colorA{
   background-color: #F2BB1C;
    border-radius: 15px;
  }
  .text-colorA{
    color:black
  }

.scrollbar-cyan::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-cyan::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #00bcd4; }

.scrollbar-cyan {
scrollbar-color: #00bcd4 #F5F5F5;
}

.bordered-cyan::-webkit-scrollbar-track {
-webkit-box-shadow: none;
border: 1px solid #00bcd4; }

.square::-webkit-scrollbar-track {
border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
border-radius: 0 !important; }

.thin::-webkit-scrollbar {
width: 6px; }
.example-1 {
position: relative;
overflow-y: scroll;
height: 200px; }

</style>

<script>
import residuosPendientesService from "../../service/residuosPendientesService.js";
import recicladorService from "../../service/recicladorService.js";
import { Modal } from 'bootstrap'
import swal from 'sweetalert';
export default {
    name:'Reciclador',
    data(){
        return{
            contribuciones:[],
            recicladores:[],
            filtro_reciclador:"",
            modal: '',
            id_entrega:'',
            contribucion:{
              tipo: '',
              descripcion: '',
              quantity: '',
              client: '',
              address: '',
              reciclador: ''
            }
        }
    },

     computed: {
        clientesFiltrados(){
        let lista= this.recicladores.filter((re)=>{
            return re.name.toUpperCase().includes(this.filtro_reciclador.toUpperCase())||
                    re.lastname.includes(this.filtro_reciclador);
                        
        })
        return lista;
        }
  },
    mounted(){
        this.getContribucion();
        this.getReciclador();
        this.modal = new Modal(document.getElementById('modalReciclador'))   
    },

    methods:{     
      openModal() {
          this.modal.show()
      },
      closeModal() {
        this.modal.hide()
      },
        async getReciclador(){
            let result=  await recicladorService.get()  
            this.recicladores=result.data   
        },
      async getContribucion(){
            let result=  await residuosPendientesService.get()  
            this.contribuciones=result.data
                  
        },
        seleccionarEntrega(entrega){
            this.id_entrega=entrega.id;
        },
       async seleccionarReciclador(reciclador){
       let resp = await residuosPendientesService.update({id:this.id_entrega, id_delivery:reciclador.id});
          if(resp.data.success){
                this.getContribucion();
                this.closeModal()
                 swal(`La Contribucion a sido asignada a ${reciclador.name}`);
              }else{
                 swal('Error al asignar contribucion');
              }   

        }

    },

}
</script>