<template>
    <div>   
            <div>
                <main>
                    <div class="container-fluid px-4">
                        <!-- <h1 class="mt-4">Tables</h1> -->
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                Lista de contribuciones pendientes de ser recogidas.
                                <!-- <a target="_blank" href="https://datatables.net/">official DataTables documentation</a> -->
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Residuos
                            </div>
                        <div class="card-body">
                          <div class="tabla">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Peso ap.</th>
                                         <th scope="col">Contribiyente</th>
                                        <th scope="col">Direccion</th>
                                         <th scope="col">Reciclador</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(reci, index) of contribuciones" :key="index">
                                            <th scope="row">{{index+1}}</th>
                                            <td>{{reci.tipo}}</td>
                                            <td>{{reci.descripcion}}</td>
                                            <td>{{reci.quantity}} Kg</td>
                                            <td>{{reci.client.name}}-{{reci.client.lastname}}</td>
                                            <td>{{reci.address.address}}</td>
                                             <td>{{reci.reciclador.name}}{{reci.reciclador.lastname}}</td>
                                        </tr>
                                                  
                                    </tbody>
                                </table>
                                  <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                        </div>
                     </div>
                        </div>
                    </div>
                </main>
       
            </div>
        </div>

</template>
<style scoped>

</style>

<script>
// import { Modal } from 'bootstrap';
import residuoAsignadoService from "../../service/residuosAsignadosService.js";
import { Modal } from 'bootstrap'
// import swal from 'sweetalert';
export default {
    name:'Reciclador',
    data(){
        return{
            contribuciones:[],
            modal: '',
            contribucion:{
              tipo: '',
              descripcion: '',
              quantity: '',
              client: '',
              address: '',
              reciclador: ''
            }
        }
    },
    created(){
        this.getContribucion();
        this.modal = new Modal(document.getElementById('ModalReciclador'))   
    },

    methods:{
      openModal() {
          this.modal.show()
      },

      closeModal() {
        this.modal.hide()
      },

      async getContribucion(){
            let result=  await residuoAsignadoService.get()  
            this.contribuciones=result.data
                  
        },
        
    }
}
</script>