<template>
    <div>   
            <div>
                <main>
                    <div class="container-fluid px-2">
                          <form>
                            <div class="mb-1">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                    </div>
                </main> 
            </div>      

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="closeModal()">Save changes</button>
        </div>
        </div>
    </div>
    </div>
</div>
</template>
<style scoped>

</style>
<script>
import { Modal } from 'bootstrap'
export default {
   data(){
       return{
            modal: ''
       }
   },
    mounted() {
      this.modal = new Modal(document.getElementById('exampleModal'))
   },
   
    methods: {
      openModal() {
         this.modal.show()
      },

      closeModal() {
         this.modal.hide()
      }
   }
}
</script>